		<div id="user-info">
			<div id="user-info-pane">
				<img id="logged-avatar" width="200" class="img_widget" src="<%= @user.picture ? asset_path("#{@user.picture}", type: :image) : asset_path('avatar_default.png', type: :image) %>"/>
				<br/>
				<%= link_to("Change picture", '#') %>
			</div>
            <%= form_for(@user, :url => user_path, :method => 'patch') do |f| %>
            <%= f.text_field(:first_name) %>
            <%= f.text_field(:last_name) %>
            <%= f.email_field(:email) %>
            <%= f.password_field(:password) %>

            <%= f.submit("Save changes") %>
            <% end %>


            <div id="uf-ID" class=" float-left">
				<h2><%= @user.first_name %> <%= @user.last_name %></h2><br/>
				<span><%= @user.email %></span>
			</div>
		</div><!-- end of user-info -->