				<div id="user-info">
			<div id="user-info-pane">
				<%= @user.picture ? image_tag("#{@user.picture}", :class =>"img_widget", :alt => "avatar picture") : image_tag("100/avatar_default.png", :class =>"img_widget", :alt => "avatar default picture")%>
				<br/>
				<%= link_to("Edit profile", edit_user_path) %>
			</div>
			<div id="uf-ID" class=" float-left">
				<h2><%= @user.first_name %> <%= @user.last_name %></h2><br/>
				<span><%= @user.email %></span>
			</div>
		</div><!-- end of user-info -->
<div id="section">
			<div id="booking_pane">
				<div id="mp_tabs">
					<ul class=" no-bullet">
						<li id="overvTab"><a href="#reservations">Overview</a></li>
						<li id="catTab"><a href="#">Invitation</a></li>
						<li id="equipTab"><a href="#">Messages</a></li>
						<li id="moreTab"><a href="#">More...</a></li>
					</ul>
				</div>
				<div id="containers" >
					<div id="overvPanel" class="showable">
						<p style="grid-column: 1/3; margin: 0;"><a href="<?php echo 'http://www2.cs.uregina.ca/~mmx458/assignment/new_booking.php' ; ?>">Add a new booking</a></p>
						<% @user_bookings.each do |user_booking| %>
							<div class="card">
								<div class="room_thumbnail booking-thumbnail">
									<img alt="<?php echo 'Picture of conference room ' . $booking['number'] ; ?>" class="img-small" src="<?php echo '..' . $booking['picture'] ; ?>"/>
								</div>
								<span><?php echo $booking['number']; ?></span>
							</div>
							<div class="ovPanelText booking-form">
								<h4><?php echo $booking['purpose']; ?></h4>
								<span>Date: <?php echo date('d M Y',strtotime($booking['date'])) ; ?> </span><br/>
								<span>Time: <?php echo date('H:i a',strtotime($booking['start_time'])) ; ?> - <?php echo date('H:i a',strtotime($booking['end_time'])) ; ?> </span>
								<br/><br/><strong>Notes:</strong><br/>
								<?php $notes = find_all_notes_by_ref($booking['booking_ref']);
									   foreach ( $notes as $note ) {
								 ?>
								<p class="note_bubble"><?php echo $note['content']; ?></p><a href="<?php echo 'note.php?nid=' . $note['nid'] . '&uid=' . $user_id ?>">edit note</a><br/>
								<?php } ?>
								<p style="color:#452113;">Add note <a class="add_note" href="<?php echo 'http://www2.cs.uregina.ca/~mmx458/assignment/new_note.php?bid='.$booking['bid'].'&uid='.$_SESSION['user_id']; ?>"> <span style="font-size:12pt;">+</span></a></p>
								<p class=" float-right"><a href="<?php echo 'booking.php?id=' . $booking['bid'] . '&uid=' . $user_id ?>">edit booking</a> </p>
							</div>
						<% end %>
					</div>
					<div id="catering" class="showable">
						<!-- content catering -->
						<div class="optionItem optionLink">
							<div class="card">
								<img alt="conference room premium" class="img-small" src="../img/conference_premium.jpg"/>
								<span>RIC 214</span>
							</div>
							<div class=" ovPanelText">
								<h4>HTML</h4>
								<p><strong>Hypertext Markup Language.</strong> Controls the structure and semantics of web pages. Tags are used to mark up elements and denote content type. </p>
								<p class=" float-right"><a href="booking.php">edit booking</a> | <a href="note.php">edit note</a></p>
							</div>
						</div>
						<div class="optionItem optionLink">
							<div class="card">
								<img alt="conference room premium" class="img-small" src="../img/conference_premium.jpg"/>
								<span>RIC 214</span>
							</div>
							<div class=" ovPanelText">
								<h4>HTML</h4>
								<p><strong>Hypertext Markup Language.</strong> Controls the structure and semantics of web pages. Tags are used to mark up elements and denote content type. </p>
								<p class=" float-right"><a href="booking.php">edit booking</a> | <a href="note.php">edit note</a></p>
							</div>
						</div>
					</div>
					<div id="equipment" class="showable">
						<!-- content equipment -->
						<div class="optionItem optionLink">
							<div class="card">
								<img alt="conference room premium" class="img-small" src="../img/conference_premium.jpg"/>
								<span>RIC 214</span>
							</div>
							<div class=" ovPanelText">
								<h4>HTML</h4>
								<p><strong>Hypertext Markup Language.</strong> Controls the structure and semantics of web pages. Tags are used to mark up elements and denote content type. </p>
								<p class=" float-right"><a href="booking.php">edit booking</a> | <a href="note.php">edit note</a></p>
							</div>
						</div>
					</div>
					<div id="more" class="showable">
						<!-- content more -->
						<div class="optionItem optionLink">
							<div class="card">
								<img alt="conference room premium" class="img-small" src="../img/conference_premium.jpg"/>
								<span>RIC 214</span>
							</div>
							<div class=" ovPanelText">
								<h4>HTML</h4>
								<p><strong>Hypertext Markup Language.</strong> Controls the structure and semantics of web pages. Tags are used to mark up elements and denote content type. </p>
								<p class=" float-right"><a href="booking.php">edit booking</a> | <a href="note.php">edit note</a></p>
							</div>
						</div>
					</div>
				</div><!-- end of event panes -->
			</div> <!-- end of section -->
		</div> <!-- end of container -->
	</div>