<% @page_title = 'Signup'%>
<div id="section">
    <div id="main_pane">
    <div id="mp_titel" class="text-center"><h3>CREATE YOUR ACCOUNT</h3></div>
    <div id="swiper" class="">
            <%= flash[:error] %>
        <%= form_with(:model => @user, :url => users_path, :method => 'post', :class => 'form-validate') do |f| %>
            <%= image_tag("100/avatar_default.png", :class =>"img_widget", :alt => "avatar default picture")%><br/>
            <%= label_tag(:picture, "Upload a profile picture: ") %><br/>
            <%= f.file_field(:picture) %><hr/>
            <%= label_tag(:first_name, "First Name:") %><span class="label_required danger">&nbsp;*</span>
            <%= f.text_field(:first_name) %><br/>
            <%= label_tag(:last_name, "Last Name:") %><span class="label_required danger">&nbsp;*</span>
            <%= f.text_field(:last_name) %><br/>
            <%= label_tag(:nickname, "Nickname:") %><span class="label_required danger">&nbsp;*</span>
            <%= f.text_field(:nickname) %><br/>
            <%= label_tag(:email, "Email Address:") %><span class="label_required danger">&nbsp;*</span>
            <%= f.text_field(:email) %><br/>
            <%= label_tag(:password, "Password:") %><span class="label_required danger">&nbsp;*</span>
            <%= f.password_field(:password) %><br/>
            <%= label_tag(:confirm_pwd, "Confirm your password:") %><span class="label_required danger">&nbsp;*</span>
            <%= f.password_field(:confirm_pwd) %><br/>
            <span style="font-size: 8pt;color: #838383;">Field marked with <span class="label_required danger">&nbsp;*</span> are required</span>
            <br/>
            <%= f.submit('Sign up') %><br /><hr />
        <% end %>
            <p class="">or <%= link_to("Sign in", login_index_path) %></p>
        </div>
        
    </div><!-- end of event pane -->
</div> <!-- end of section -->