   <% @page_title = 'Home'%> 
    <!-- [ HEADER ] -->
    <header id="header" aria-label="page header">
      <nav class="fixed-top navbar navbar-expand-lg navbar-dark bg-dark" aria-label="navigation menu">
        <div id="page_heading" class="float-left col-lg-2" aria-label="page heading">
            <%= link_to(root_path, :role => 'link', :class => 'navbar-brand') do %>
              <%= image_tag('100/conference_room.png', :size => '80x80') %>
              <span class="d-inline">Conference Room</span>
            <% end %>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="float-left col-lg-4">
          <ul class="list-inline navbar-nav" aria-label="navigation options">
            <li class="nav-item list-inline-item active">
              <%= link_to("#", :class => 'nav-link') do %>
              Home
              <span class="sr-only">(current)</span>
              <% end %>
            </li>
            <li class="nav-item list-inline-item dropdown">
              <%= link_to("#", :class => 'nav-link dropdown-toggle', :id => "navbarDropdownMenuLink", :role => "button", :data => {toggle: "dropdown"}, :aria => {haspopup: "true", expanded: "false"}) do %>
                Services
              <% end %>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
            </li>
            <li class="nav-item list-inline-item"><%= link_to("About", "#", :class => 'nav-link') %></li>
            <li class="nav-item list-inline-item"><%= link_to("Contact", "#", :class => 'nav-link') %></li>
          </ul>
        </div>
        
        <!--[ LOGIN ]-->
        <div id="login_main" class="d-none d-sm-block col-lg-6" aria-label="login pane">
          <div id="login" class="" >
            <% if !flash[:notice].blank? %>
            <div class = "alert alert-info" role="alert" aria-label="application notification message">
                <%= flash[:notice] %>
            </div>
            <% end %>
            <% if !flash[:error].blank? %>
            <div class = "alert alert-danger" role="alert" aria-label="application error message">
                <%= flash[:error] %>
            </div>
            <% end %>
            <% if !flash[:alert].blank? %>
            <div class = "alert alert-warning" role="alert" aria-label="application alert message">
                <%= flash[:alert] %>
            </div>
            <% end %>
            <%= form_with(:url => '/login', :method => 'post', :class => 'form-inline justify-content-end') do |form| %>
              <%= form.label(:email, :class => 'sr-only')%>
              <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">@</div>
                </div>
                <%= form.email_field(:email, placeholder: "e.g. name@address.com", :class => 'form-control')%>
              </div>
              <%= form.label(:password, :class => 'sr-only')%>
              <%= form.password_field(:password, placeholder: "Enter your password", :class => 'form-control mb-2 mr-sm-2')%>
              <div class="form-check mb-2 mr-sm-2">
                <%= form.check_box(:ckeckBox, :class => 'form-check-input') %>
                <%= form.label(:checkBox, 'Remember me', :class => 'form-check-label text-light')%>
              </div>
              <%= form.submit('Sign in', :class => 'btn btn-light mb-2') %>
              <span id="para_account" >
                &nbsp;&nbsp; <%= link_to("Sign up", new_user_path, :class => 'btn btn-secondary mb-2') %>
              </span>
            <% end %>
          </div>
      </nav>

      <!--[ BANNER ]-->
      <!-- the picture allows much more options -->
      <picture id="banner_picture" role="img" aria-label="banner picture">
        <source media="(min-width:600px)" srcset="<%= asset_path('landscapes/480/conference_brown.jpg', type: :image) %>">
        <%= image_tag('landscapes/480/conference_brown.jpg', :class => ' w-100', :alt => "Banner picture of our premium conference room") %>
      </picture>
    </header>
    <hr class="sr-only" />
    <!--[ PAGE CONTAINER ]-->
    <main id="grid" class="container" aria-label="page container">
      <% @page_title = 'Home' %>
      <!--[ MAIN CONTENT ]-->
      <article id="section" aria-label="main content">
        <section id="main_pane" class="">
          <div id="mp_titel" class="mt-5 mb-5" >
            <p class="mb-0 text-uppercase text-monospace font-weight-bold text-primary">Stay and eat like a local</p>
            <h2>Our Rooms</h2>
          </div>

          <div id="swiper" class="row flex-md-nowrap overflow-hidden">
              <% @rooms.each do |room| %>
	          <div id="room_panorama" class="col-sm-4">
              <div class="card mb-md-2">
                <picture id="room_thumbnail" role="img" aria-label="room thumbnail">
                  <source media="(min-width:600px)" srcset="<%= asset_path("480/#{room.picture}", type: :image) %>">
                  <img alt="conference room number <%= room.number %>" class="card-img-top " src="<%= asset_path("480/#{room.picture}", type: :image) %>"/>
                </picture>
                <div class="card-body">
                  <h5 class="card-title"><%= room.name %></h5>
                  <h6 class="card-subtitle mb-2 text-muted"><%= room.building %></h6>
                  <p class="card-text">
                    <%= truncate(room.avantgarde, :length => 150, :separator => ' ') %><br/>
                  <br/><span>Configuration:  <%= room.configuration %></span>
                  <br/><span>Capacity:  <%= room.capacity %></span>
                  </p>
                  <%= link_to('View more', '#', :class => 'btn btn-secondary') %>
                </div>
              </div>
            </div>
              <% end %>
          </div>
        </section>
        <section class="my-6" >
          <div id="avaible" class="mt-5 mb-5" >
            <p class="mb-0 text-uppercase text-monospace font-weight-bold text-primary"><%= time_tag(Date.today, :id => 'dp_date') %></p>
            <h2>Availabilities</h2>
          </div>
          <div id="date_picker" class="search-bar mt-5 p-1 p-lg-1 pl-lg-4" >
            <%= form_with(:url => {:action => :search_booking}, :method => "post", :class => '') do %>
            <div class="row">
              <div class="col-lg-3 align-items-center ">
                <%= label_tag(:number, 'Room:', :class => 'sr-only') %>
                <div class="dropdown bootstrap-select show">
                <%= select_tag(:number, options_for_select(@rooms.map{|r| [r.number, r.id]}), {:include_blank => false, :class => 'custom-select border-0', :title => 'Rooms'} ) %>
                </div>
              </div>
              <div class="col-lg-3 align-items-center">
                <%= label_tag(:date, 'Date:', :class => 'sr-only') %>
                <%= date_field_tag(:date, Date.today, :min => Time.now.year-1, :max => Time.now.year+5, :class => "form-control border-0 shadow-0")%>
               </div>
              <div class="col-lg-2 align-items-center"> 
                <%= label_tag(:start_time, 'from ', :class => 'sr-only') %>
                <%= time_field_tag(:start_time, Time.now.strftime("%H:%M"), :step => 1800, :min => "06:00", :max => "22:00", :class => "form-control border-0 shadow-0") %>
               </div>
              <div class="col-lg-2 align-items-center"> 
                <%= label_tag(:end_time, 'to ', :class => 'sr-only') %>
                <%= time_field_tag(:end_time, (Time.now.advance(hours: 6)).strftime("%H:%M"), :step => 1800, :min => "06:00", :max => "22:00", :class => "form-control border-0 shadow-0") %>
              </div>
              <div class="col-lg-2">  
                <%= submit_tag("SEARCH", :class => 'btn btn-primary btn-block rounded-pill') %>
              </div>
            </div>
          </div>
          <% end %>
          <br />
          <div>
	          <div id="room_panorama" class="row flex-md-nowrap overflow-hidden">
              <% @bookings.each do |booking| %>
	          <div id="room_panorama" class="col-sm-4">
              <div class="card" >
                <picture id="" role="img" aria-label="room thumbnail">
                  <source media="(min-width:600px)" srcset="<%= asset_path("480/#{booking.room.picture}", type: :image) %>">
                  <img alt="conference room number <%= booking.room.number %>" class="card-img-top" src="<%= asset_path("480/#{booking.room.picture}", type: :image) %>"/>
                </picture>
                <dl class="card-body" >
                  <dt class="card-title"><%= booking.agenda %></dt>
                  <dd>Date:  <%= booking.date.to_formatted_s(:long_ordinal) %></dd>
                  <dd>Time:  <%= booking.start_time.to_formatted_s(:time) %> - <%= booking.end_time.to_formatted_s(:time)%></dd>
                  <dd><%= link_to('View more', '#', :class => 'btn btn-secondary') %></dd>
                </dl>
              </div>
            </div>
              <% end %>
            </div>
            <nav aria-label="Room navigation pages" class="mt-3">
              <ul class="pagination pagination-sm justify-content-center">
                <li class="page-item disabled">
                  <span class="page-link">Previous</span>
                </li>
              <% pages = @bookings.size / 3 %>
              <%  (1..pages).each do |n| %>
                <!--<li class="page-item active" aria-current="page">
                  <span class="page-link">
                    1
                    <span class="sr-only">(current)</span>
                  </span>
                </li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>-->
                <li class="page-item"><a class="page-link" href="?page=<%= n %>"><%= n %></a></li>
              <% end %>
                <li class="page-item">
                  <a class="page-link" href="#">Next</a>
                </li>
              </ul>
            </nav>
          </div>
        </section>
      </article>

      <!--[ ASIDE ]-->
      <aside id="aside" aria-label="events pane">

      </aside>
    </main>
    <hr class="sr-only"/>
    <!--[ FOOTER ]-->
    <footer id="footer" aria-label="page footer" class="mt-5 p-3 bg-dark text-light">
      <div id="f_wrapper" class="container">
        <div class="col-sm">
          <h1 class="font-weight-bold">Conference Room</h1>
          <div class="row mt-3">
            <div id="f_map" class="col-sm-4 px-lg-5" aria-label="company location">
              <h2>Location</h2><br/>
              <div id="googleMap"></div>
            </div>
            <div id="f_cont" class="col-sm-4 px-lg-5" aria-label="company conta">
              <h2>Contact</h2>
              <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                sed diam nonumy eirmod tempor invidunt ut labore et dolore
                magna aliquyam erat, sed diam voluptua.</p>
            </div>
            <div id="f_impr" class="col-sm-4 px-lg-5" aria-label="company location">
              <h2>Impresum</h2>
              <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                sed diam nonumy eirmod tempor invidunt ut labore et dolore
                magna aliquyam erat, sed diam voluptua.</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <div aria-live="polite" class="sr-only"></div>
    <!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2oNtRhnfGNgG_yQUNmBNa1kXJnNkzzp4&callback=myMap"></script>-->
