<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Conference Room | Home </title>
  </head>
  <body>
    <!-- [ HEADER ] -->
    <header id="header" aria-label="page banner">
      <div id="page_heading" class="float-left" aria-label="page heading">
        <h1><%= link_to("Conference Room", root_path, :role => 'link') %></h1>
      </div>
      <!--[ LOGIN ]-->
      <div id="login_main" aria-label="login pane">
        <div id="login" >
          <div id="err_mod_main" class="invisible modal-danger">
            <span class="label_required invisible danger"><%= flash[:notice] %></span>
          </div>
          <%= form_with(:url => signin_users_path, :method => 'post', :class => 'form-validate') do |form| %>
            <%= form.label(:email)%>
            <%= form.email_field(:email, placeholder: "e.g. name@address.com", :class => 'form-control')%>
            <%= form.label(:password)%>
            <%= form.password_field(:password, placeholder: "Enter your password", :class => 'form-control')%>
            <%= form.submit('Sign in', :class => 'btn-primary medium btn-submit') %>
            <span id="para_account" >
              or <%= link_to("Sign up", signup_users_path, :class => 'btn-primary') %>
            </span>
          <% end %>
        </div>
      </div>
      <!--[ BANNER ]-->
      <!-- the picture allows much more options -->
      <picture id="banner_picture" role="img" aria-label="banner picture">
        <source media="(min-width:600px)" srcset="<%= asset_path('landscapes/480/conference_brown-480x1920.jpg', type: :image) %>">
        <%= image_tag('landscapes/480/conference_brown-480x1920.jpg', :size => '1920x480', :alt => "Banner picture of our premium conference room") %>
      </picture>
    </header>
    <nav class="crumbs" aria-label="navigation menu">
      <ul aria-label="navigation options">
        <li><%= link_to("Home", "#") %></li>
        <li><%= link_to("Services", "#") %></li>
        <li><%= link_to("About", "#") %></li>
        <li><%= link_to("Contact", "#") %></li>
      </ul>
    </nav>
    <!--[ PAGE CONTAINER ]-->
    <main id="grid" aria-label="page container">
      <% @page_title = 'Home' %>
      <!--[ MAIN CONTENT ]-->
      <article id="section" aria-label="main content">
        <section id="main_pane">
          <div id="mp_titel" class="text-center">
            <h1>Our Rooms</h1>
          </div>

          <div id="swiper">
	          <div id="room_panorama" class="search">
              <% @rooms.each do |room| %>
              <div class="card room">
                <picture id="room_thumbnail" role="img" aria-label="room thumbnail">
                  <source media="(min-width:600px)" srcset="<%= asset_path("480/#{room.picture}", type: :image) %>">
                          <img alt="conference room number <%= room.number %>" class="img-small" src="<%= asset_path("480/#{room.picture}", type: :image) %>"/>
                </picture>
                <p class="room_description"> <%= truncate(room.avantgarde, :length => 150, :separator => ' ') %></p>
                <p class="room_details">
                  <h4><%= room.building %></h4>
                  <span>Configuration:  <%= room.configuration %></span><br/>
                  <span>Capacity:  <%= room.capacity %></span>
                </p>
                <p><span  class=""><%= link_to('View more', '#') %></span><br /></p>
              </div>
              <% end %>
            </div>
          </div>
        </section>
        <section class="search">
          <h1>Availabilities</h1>
          <div id="date_picker" class="text-center">
            <span id="dp_date">
              <span id="day"></span> <span id="month"><%= Time.now %></span> <span id="date">20</span><sup id="ordinal">th</sup> <span id="year">2020</span>
            </span>
          </div>
          <div class="search_flex">
            <label for="ip_search" class="search_label"> Room: </label>
            <select id="ip_search" name="rooms">
              <option value=""> room # </option>
              <% @rooms.each do |room| %>
              <option value="<%= room.id %>"><%= room.number %></option>
              <% end %>
            </select>
          </div>
          <div class="search_flex">
            <label for="booking_date" class="search_label"> Date: </label>
            <input type="date" id="booking_date" name="reserv-start" value="<%= Date.today %>" min="1999-01-01" max="2999-12-31" class="form-date"/>
          </div>
          <div class="search_flex">
            <label for="booking_date" class="search_label"> from: </label>
            <input type="time" id="start_time" name="time-start" value="06:00" min="06:00" max="22:00" step="1800" class="form-date"/>
          </div>
          <div class="search_flex">
            <label for="booking_date" class="search_label"> to: </label>
            <input type="time" id="end_time" name="time-end" value="22:00" min="06:00" max="22:00" step="1800" class="form-date"/>
          </div>
          <div>
            <input type="submit" value="&#x1F50D;" class="circled-button"/>
          </div>
        </section>
      </article>

      <!--[ ASIDE ]-->
      <aside id="aside" aria-label="events pane">

      </aside>
    </main>
    <!--[ FOOTER ]-->
    <footer id="footer" aria-label="page footer">
      <div id="f_wrapper" >
        <div id="f_map" class="f_box" aria-label="company location">
          <h2>Location</h2><br/>
          <div id="googleMap"></div>
        </div>
        <div id="f_cont" class="f_box" aria-label="company conta">
          <h2>Contact</h2>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
            sed diam nonumy eirmod tempor invidunt ut labore et dolore
            magna aliquyam erat, sed diam voluptua.</p>
        </div>
        <div id="f_impr" class="f_box" aria-label="company location">
          <h2>Impresum</h2>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
            sed diam nonumy eirmod tempor invidunt ut labore et dolore
            magna aliquyam erat, sed diam voluptua.</p>
        </div>
      </div>
    </footer>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2oNtRhnfGNgG_yQUNmBNa1kXJnNkzzp4&callback=myMap"></script>
  </body>
</html>