   <% @page_title = 'Home'%> 
    <!-- [ HEADER ] -->
    <header id="header" aria-label="page header">
      <%= show_default_header %>
      <!--[ BANNER ]-->
      <!-- the picture allows much more options -->
      <picture id="banner_picture" role="img" aria-label="banner picture">
        <source media="(min-width:600px)" srcset="<%= asset_path('landscapes/480/conference_brown.jpg', type: :image) %>">
        <%= image_tag('landscapes/480/conference_brown.jpg', :class => ' w-100', :alt => "Banner picture of our premium conference room") %>
      </picture>
    </header>
    <hr class="sr-only" />
    <!--[ PAGE CONTAINER ]-->
    <main id="grid" class="container" aria-label="page container">
      <% @page_title = 'Home' %>
      <!--[ MAIN CONTENT ]-->
      <article id="section" aria-label="main content">
      
        <section id="main_pane" class="">
          <div id="mp_titel" class="mt-5 mb-5" >
            <p class="mb-0 text-uppercase text-monospace font-weight-bold text-primary">Stay and eat like a local</p>
            <h2>Our Rooms</h2>
          </div>

          <div id="swiper" class="row row-cols-1 row-cols-md-2 row-cols-lg-3 flex-md-nowrap overflow-hidden">
              <% @rooms.each do |room| %>
              <div class="card mb-2 mx-3 shadow-sm">
                <picture id="room_thumbnail" role="img" aria-label="room thumbnail">
                  <source media="(min-width:600px)" srcset="<%= asset_path("480/#{room.picture}", type: :image) %>">
                  <img alt="conference room number <%= room.number %>" class="card-img-top " src="<%= asset_path("480/#{room.picture}", type: :image) %>"/>
                </picture>
                <div class="card-body">
                  <h5 class="card-title"><%= room.name %></h5>
                  <h6 class="card-subtitle mb-2 text-muted"><%= room.building %></h6>
                  <p class="card-text">
                    <%= truncate(room.avantgarde, :length => 150, :separator => ' ') %><br/>
                  <br/><span>Configuration:  <%= room.configuration %></span>
                  <br/><span>Capacity:  <%= room.capacity %></span>
                  </p>
                  <%= link_to('View more', '#', :class => 'btn btn-secondary') %>
                </div>
              </div>
              <% end %>
          </div>
        </section>
        <section class="my-6" >
          <div id="avaible" class="mt-5 mb-5" >
            <p class="mb-0 text-uppercase text-monospace font-weight-bold text-primary"><%= time_tag(Date.today, :id => 'dp_date') %></p>
            <h2>Availabilities</h2>
          </div>
          <!--[ SEARCH BAR ]-->
          <div id="date_picker" class="search-bar mt-5 p-1 p-lg-1 pl-lg-4" >
            <%= form_with(:url => {:action => :search_booking}, :method => "post", :class => '') do %>
            <div class="row">
              <div class="col-lg-3 align-items-center ">
                <%= label_tag(:number, 'Room:', :class => 'sr-only') %>
                <div class="dropdown bootstrap-select show">
                <%= select_tag(:number, options_for_select(@rooms.map{|r| [r.number, r.id]}), {:include_blank => false, :class => 'custom-select border-0', :title => 'Rooms'} ) %>
                </div>
              </div>
              <div class="col-lg-3 align-items-center">
                <%= label_tag(:date, 'Date:', :class => 'sr-only') %>
                <%= date_field_tag(:date, Date.today, :min => Time.now.year-1, :max => Time.now.year+5, :class => "form-control border-0 shadow-0")%>
               </div>
              <div class="col-lg-2 align-items-center"> 
                <%= label_tag(:start_time, 'from ', :class => 'sr-only') %>
                <%= time_field_tag(:start_time, Time.now.strftime("%H:%M"), :step => 1800, :min => "06:00", :max => "22:00", :class => "form-control border-0 shadow-0") %>
               </div>
              <div class="col-lg-2 align-items-center"> 
                <%= label_tag(:end_time, 'to ', :class => 'sr-only') %>
                <%= time_field_tag(:end_time, (Time.now.advance(hours: 6)).strftime("%H:%M"), :step => 1800, :min => "06:00", :max => "22:00", :class => "form-control border-0 shadow-0") %>
              </div>
              <div class="col-lg-2">  
                <%= submit_tag("SEARCH", :class => 'btn btn-primary btn-block rounded-pill', :data => {:disable_with => "SEARCHING..."}) %>
              </div>
            </div>
          </div>
          <% end %>
          <br />
          <!--[ AVAILABILITIES ]-->
          <div class="position-relative overflow-hidden position-relative overflow-hidden mb-6 mr-n3 mr-sm-n5 mr-xl-n5 ml-n3 ml-sm-n5 ml-lg-m3 ml-xl-n5 mt-3 ">
	          <div id="room_panorama" class="row row-cols-1 row-cols-md-2 row-cols-lg-3 flex-nowrap px-3 px-sm-5 px-lg-3 px-xl-5 overflow-auto">
              <%= show_bookings(@bookings) %>
            </div>
            <div class="position-absolute px-2 px-sm-3 px-lg-2 px-xl-3" style="left: 0; top: 0; bottom:0; background: linear-gradient(to right, rgb(255, 255, 255, 1), rgba(255,255,255,0));"></div>
            <div class="position-absolute px-2 px-sm-3 px-lg-2 px-xl-3" style="right: 0; top: 0; bottom:0; background: linear-gradient(to left, rgb(255, 255, 255, 1), rgba(255,255,255,0));"></div>
          </div>
        </section>
      </article>

      <!--[ ASIDE ]-->
      <aside id="aside" aria-label="events pane">

      </aside>
    </main>
    <hr class="sr-only"/>
    <!--[ FOOTER ]-->
    <footer id="footer" aria-label="page footer" class="mt-5 p-3 bg-dark text-light">
      <div id="f_wrapper" class="container">
        <div class="col-sm">
          <h1 class="font-weight-bold">Conference Room</h1>
          <div class="row mt-3">
            <div id="f_map" class="col-sm-4 px-lg-5" aria-label="company location">
              <h2>Location</h2>
              <div id="googleMap">
                <iframe width="270" height="150" frameborder="0" style="border:0"
                  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyD2oNtRhnfGNgG_yQUNmBNa1kXJnNkzzp4&q=dortmund"
                  allowfullscreen>
                </iframe>

              </div>
            </div>
            <div id="f_cont" class="col-sm-4 px-lg-5" aria-label="company conta">
              <h2>Contact</h2>
              <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                sed diam nonumy eirmod tempor invidunt ut labore et dolore
                magna aliquyam erat, sed diam voluptua.</p>
            </div>
            <div id="f_impr" class="col-sm-4 px-lg-5" aria-label="company location">
              <h2>Impresum</h2>
              <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                sed diam nonumy eirmod tempor invidunt ut labore et dolore
                magna aliquyam erat, sed diam voluptua.</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <div aria-live="polite" class="sr-only"></div>
    


