<h5>Room-ID: <%= @room.number %></h5>
<p><%= image_tag(asset_path("480/#{@room.picture}", type: :image)) %></p>
<p><%= @room.building %></p>
<p><%= @room.capacity %></p>
<p><%= @room.configuration %></p>
<p><%= @room.avantgarde %></p>
