<div id="section">
  <div id="main_pane">
    <div id="mp_titel" class="text-center"><h3>LOGIN</h3></div>
      <div class="panes">
        <% if !flash[:notice].blank? %>
        <div class = "notice">
          <%= flash[:notice] %>
        </div>
        <% end %>
        <div id="login" class="">
            <%= form_with(:url => '/login', :method => 'post', :class => 'form-validate') do |form| %>
                <div class="labeledInput">
                    <%= form.label(:email, :class => 'form-label')%>
                    <%= form.email_field(:email, placeholder: "e.g. name@address.com", :class => 'form-input')%>
                </div>
                <div  class="labeledInput">
                    <%= form.label(:password, :class => 'form-label')%>
                    <%= form.password_field(:password, placeholder: "Enter your password", :class => 'form-input')%>
                </div><br>
                <div class="text-center">
                  <%= form.submit('Sign in', :class => 'btn-primary medium btn-submit') %><hr>
                  <p class="">or <%= link_to("create a new account", new_user_path) %></p>
                </div>
            <% end %>
        </div>
      </div><!-- end of event pane -->
  </div> <!-- end of main pane -->
</div>
