<% @page_title = 'Signin'%>
<div id="section">
  <div id="main_pane">
    <div id="mp_titel" class="text-center"><h3>LOGIN</h3></div>
      <div class="panes">
        <% if !flash[:error].blank? %>
        <div class = "error">
          <%= flash[:error] %>
        </div>
        <% end %>
        <% if !flash[:notice].blank? %>
        <div class = "notice">
          <%= flash[:notice] %>
        </div>
        <% end %>
        <% if !flash[:alert].blank? %>
        <div class = "alert">
          <%= flash[:alert] %>
        </div>
        <% end %>
        <div id="login" class="">
            <%= form_with(:url => '/login', :method => 'post', :class => 'form-validate') do |form| %>
            <table summary="login form">
              <tr>
                <td><%= form.label(:email, :class => 'form-label')%></td>
                <td><%= form.email_field(:email, placeholder: "e.g. name@address.com", :class => 'form-input')%></td>
              </tr>
              <tr>      
                <td><%= form.label(:password, :class => 'form-label')%></td>
                <td><%= form.password_field(:password, placeholder: "Enter your password", :class => 'form-input')%></td>
              </tr>
              <tr>
                <td><%= form.submit('Sign in', :class => 'btn-primary medium btn-submit') %></td>
              </tr>
            </table>     
            <% end %>
            <hr>
            <p class="">or <%= link_to("create a new account", new_user_path) %></p>
        </div>
      </div><!-- end of event pane -->
  </div> <!-- end of main pane -->
</div>
