<!DOCTYPE html>
<html>
  <head>
    <title>Conference Room <%=" | #{@page_title}" if @page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="apple-touch-icon" sizes="57x57" href="<%= asset_path("icon/apple-icon-57x57.png", type: :image) %>">
    <link rel="apple-touch-icon" sizes="60x60" href="<%= asset_path("icon/apple-icon-60x60.png", type: :image) %>">
    <link rel="apple-touch-icon" sizes="72x72" href="<%= asset_path("icon/apple-icon-72x72.png", type: :image) %>">
    <link rel="apple-touch-icon" sizes="76x76" href="<%= asset_path("icon/apple-icon-76x76.png", type: :image) %>">
    <link rel="apple-touch-icon" sizes="114x114" href="<%= asset_path("icon/apple-icon-114x114.png", type: :image) %>">
    <link rel="apple-touch-icon" sizes="120x120" href="<%= asset_path("icon/apple-icon-120x120.png", type: :image) %>">
    <link rel="apple-touch-icon" sizes="144x144" href="<%= asset_path("icon/apple-icon-144x144.png", type: :image) %>">
    <link rel="apple-touch-icon" sizes="152x152" href="<%= asset_path("icon/apple-icon-152x152.png", type: :image) %>">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= asset_path("icon/apple-icon-180x180.png", type: :image) %>">
    <link rel="icon" type="image/png" sizes="192x192"  href="<%= asset_path("icon/android-icon-192x192.png", type: :image) %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= asset_path("icon/favicon-32x32.png", type: :image)%>">
    <link rel="icon" type="image/png" sizes="96x96" href="<%= asset_path("icon/favicon-96x96.png", type: :image)%>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= asset_path("icon/favicon-16x16.png", type: :image)%>">
    <link rel="manifest" href="<%= asset_path("icon/manifest.json")%>">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="msapplication-TileImage" content="<%= asset_path("icon//ms-icon-144x144.png")%>">
    <meta name="theme-color" content="#000000">

  </head>

  <body>
    <%= yield %>
  </body>
</html>
